<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/ejemplo02.css">
{{#each averias}}

<body class="body-light-grey">
    {{> navbar }}
    <div class="full-height">
        <div class="app-content-right">
            <div class="content-img text-center">
                <img src="/logos/ing-profile.png" alt="">
            </div>
            <div class="card-body mx-auto">
                <div class="form-group text-center">
                    <p id="hora" class="form-control"></p>
                </div>
                <div class="form-group text-center">
                    <p id="op_mantto" class="form-control">{{op_mantto}}</p>
                </div>
            </div>
        </div>
        <div class="app-content-left">
            <div class="card left-center text-center">
                <H1>AVERIA</H1>
                <div class="row">
                    <div class="form-group mx-auto">
                        <p id="fecha" class="form-group"></p>
                    </div>
                </div>
            </div>
            <div class="card left-sub text-center">
                <form action="/averia/new/{{id}}" method="POST" id="form">
                    <div class="form-group left col-md-4 mx-auto">
                        <label>MAQUINA</label>
                        <input type="text" class="form-control" name="num_machine" value="{{num_machine}}">
                    </div>
                    <div class="row">
                        <div class="form-group left col-md-4 mx-auto">
                            <label>TURNO</label>
                            <input type="text" class="form-control" name="turno" id="turno" value="{{turno}}">
                        </div>
                        <div class="form-group left col-md-4 mx-auto">
                            <label>N. OPERADOR</label>
                            <input type="text" class="form-control" name="num_ope" value="{{num_ope}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>TIPO DE AVERIA</label>
                            <input type="text" class="form-control" name="type_break" value="{{type_break}}">
                        </div>
                        <div class="form-group">
                            <label>Comentarios</label>
                            <textarea class="form-control" minlength="5" name="description" id="description"
                                rows="3"></textarea>
                        </div>
                    </div>
                    <div style="display:none;">
                        <div class="form-group">
                            <input type="text" class="form-control" name="op_mantto" value="{{op_mantto}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fecha-creacion" value="{{creation_date}}"
                                name="creation_date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fecha-inicio" value="{{start_date}}"
                                name="start_date">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="hora-inicio" value="{{start_time}}"
                                name="start_time">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_id" value="{{user_id}}" name="user_id">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="mantto_id" value="{{mantto_id}}"
                                name="mantto_id">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="hora-llegada" value="{{arrival_time}}"
                                name="arrival_time">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="hora-apertura" value="{{opening_time}}"
                                name="opening_time">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="sub_time" value="{{sub_time}}" name="sub_time">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="hora-fin" name="end_time">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="total_time" name="total_time">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="step" name="step" value="0">
                        </div>
                    </div>
                </form>
                {{/each}}
                <div class="alert alert-primary" role="alert" id="alert" style="display:none">
                    <strong>El tiempo de la averia fue puesta en pausa. <br>
                        En <span id="countdown" class="timer"></span> se reiniciara el conteo</strong>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/reloj.js">
</script>
<script src="/js/new.js">
    </script>