<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/estilo-n-averia.css">
{{#each averias}}
<body class="body-light-grey">
    {{> navbar }}
    <div class="full-height">
        <div class="app-content-right">
            <div class="content-img text-center">
                <img src="/logos/ing-profile.png" alt="">
            </div>
            <div class="card-body mx-auto">
                <div class="form-group  text-center">
                        <p id="hora" class="form-control"></p>
                    </div>
                <form action="/arrival/validate/{{id}}" method="POST" id="form1">
                    <div class="form-group">
                            <input type="text" class="form-control" id="op_mantto" name="op_mantto"
                                placeholder="Numero de control" autofocus>
                </div>
                <div style="display: none;" class="form-group">
                            <div class="form-group">
                                <p id="hora" class="form-control"></p>
                                <input type="text" class="form-control" id="sub_time" name="sub_time">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="hora-llegada" name="arrival_time">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="hora-inicio" value="{{start_time}}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="page" name="page" value="arrival_2">
                            </div>
                        </div>
                </form>
                <form  style="display: none;" action="/arrival/validate/close/{{id}}" method="POST" id="form2">
                        <div class="form-group">
                            <div class="form-group">
                            <input type="text" class="form-control" name="num_machine" value="{{num_machine}}">
                        </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="op_mantto2" name="op_mantto"
                                    placeholder="Nº MECANICO">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="hora-cancelado" name="canceled_time">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="total_time" name="sub_time">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="step" name="step" value="0">
                            </div>
                        </div>
                    </form>
                {{/each}}
                {{#if alerta}}
                <div class="form-group">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>No valido</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                </div>
                {{/if}}
                <div class="form-group button">
                    <button class="btn btn-primary btn-block" onclick="Validateform()"> Iniciar </button>
                </div>
                <div class="form-group button">
                    <button class="btn btn-danger btn-block" onclick="Cancelform()">Cancelar</button>
                </div>
            </div>
        </div>
        {{#each averias}}
        <div class="app-content-left">
            <div class="card left-center text-center">
                <H1>AVERIA</H1>
                <div class="row">
                    <div class="form-group col-md-6 mx-auto">
                        <p id="fecha" class="form-control"></p>
                </div>
            </div>
            <div class="card left-sub text-center">
                        <div class="form-group col-md-4 mx-auto">
                            <label>MAQUINA</label>
                        <p id="maquina" class="form-control">{{num_machine}}</p>
                    </div>
                <div class="row">
                    <div class="form-group col-md-4 mx-auto">
                        <label>TURNO</label>
                            <p id="turno" class="form-control" >{{turno}}</p>
                    </div>
                    <div class="form-group col-md-4 mx-auto">
                        <label>N. OPERADOR</label>
                            <p id="num_ope" class="form-control">{{num_ope}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/reloj.js">
</script>
<script src="/js/arrival.js">
</script>