<link rel="stylesheet" href="/css/estilo-m-averia.css">


<body class="body-light-grey">
    {{> navbar }}
    <div class="full-height">
        <div class="app-content">
            <div class="content">
                <div class="content-left">
                    <p>PARTE DE AVERIA</p>
                    <div class="container">
                        {{#each averia}}
                        <form action="/averia/corte/estatus/{{id}}" method="POST" id="test">
                        <div class="grid-container">
                            <div class="row">
                                <div id="item1">
                                    <label class="col-form-label">Parte:</label>
                                </div>
                                <div id="item2">
                                    <input type="text" value="{{id}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item3">
                                    <label class="col-form-label">Fecha:</label>
                                </div>
                                <div id="item4">
                                    <input type="text" value="{{creation_date}}" readonly
                                        class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item5">
                                    <label class="col-form-label">operario:</label>
                                </div>
                                <div id="item6">
                                    <input type="text" value="{{num_ope}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item7">
                                    <label class="col-form-label">Mantto:</label>
                                </div>
                                <div id="item8">
                                    <input type="text" value="{{op_mantto}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                        </div>
                        <div class="grid-container">
                            <div class="top-item row">
                                <div id="item8">
                                    <label class="col-form-label">Hora Llamada:</label>
                                </div>
                                <div id="item9">
                                    <input type="text" value="{{start_time}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item10">
                                    <label class="col-form-label">Puesto:</label>
                                </div>
                                <div id="item11">
                                    <input type="text" value="{{num_machine}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item12">
                                    <label class="col-form-label">Hora cierre:</label>
                                </div>
                                <div id="item13">
                                    <input type="text" value="{{end_time}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Observaciones:</label>
                            <textarea readonly class="form-control" id="exampleFormControlTextarea1" rows="1" ></textarea>
                        </div>
                        <div class="grid-container">
                            <div class="top-item row">
                                <div id="item14">
                                    <label class="col-form-label">V.º B.º Calidad</label>
                                </div>
                                <div id="item15">
                                    <input id="vbcalidad" type="text" class="form-control-plaintext" value="{{estatus_calidad}}">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item16">
                                    <label class="col-form-label">V.º B.º Mantto</label>
                                </div>
                                <div id="item17">
                                    <input id="vbcalidad" type="text" class="form-control-plaintext" value="{{estatus_mantto}}">
                                </div>
                            </div>
                            <div class="top-item row">
                         <select name="estatus"  id="Select1" >
                            <option value="1">Cambiar estado</option>
                            <option value="aprobado">Aprobar</option>
                            <option value="rechazado">Pedir aclaracion</option>
                        </select>
                            </div>
                            <div class="top-item row">
                                <div id="item18">
                                    <button type="submit"class="btn btn-primary">CAMBIAR</button>
                                </div>
                            </div>
                        </div>
                        </form>
                        {{/each}}
                         {{#each averia_mantto}}
                        <form action="/averia/mantto/estatus/{{id}}" method="POST" id="test">
                        <div class="grid-container">
                            <div class="row">
                                <div id="item1">
                                    <label class="col-form-label">Parte:</label>
                                </div>
                                <div id="item2">
                                    <input type="text" value="{{id}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item3">
                                    <label class="col-form-label">Fecha:</label>
                                </div>
                                <div id="item4">
                                    <input type="text" value="{{creation_date}}" readonly
                                        class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item5">
                                    <label class="col-form-label">operario:</label>
                                </div>
                                <div id="item6">
                                    <input type="text" value="{{num_ope}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item7">
                                    <label class="col-form-label">Mantto:</label>
                                </div>
                                <div id="item8">
                                    <input type="text" value="{{op_mantto}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                        </div>
                        <div class="grid-container">
                            <div class="top-item row">
                                <div id="item8">
                                    <label class="col-form-label">Hora Llamada:</label>
                                </div>
                                <div id="item9">
                                    <input type="text" value="{{start_time}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item10">
                                    <label class="col-form-label">Puesto:</label>
                                </div>
                                <div id="item11">
                                    <input type="text" value="{{num_machine}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item12">
                                    <label class="col-form-label">Hora cierre:</label>
                                </div>
                                <div id="item13">
                                    <input type="text" value="{{end_time}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Observaciones:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                        </div>
                        <div class="grid-container">
                            <div class="top-item row">
                                <div id="item14">
                                    <label class="col-form-label">V.º B.º Calidad</label>
                                </div>
                                <div id="item15">
                                    <input id="vbcalidad" type="text" class="form-control-plaintext" value="{{estatus_calidad}}">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item16">
                                    <label class="col-form-label">V.º B.º Operador</label>
                                </div>
                                <div id="item17">
                                    <input id="vbcalidad" type="text" class="form-control-plaintext" value="{{estatus_corte}}">
                                </div>
                            </div>
                            <div class="top-item row">
                         <select name="estatus"  id="Select1" >
                            <option value="1">Cambiar estado</option>
                            <option value="aprobado">Aprobar</option>
                            <option value="rechazado">Pedir aclaracion</option>
                        </select>
                            </div>
                            <div class="top-item row">
                                <div id="item18">
                                    <button type="submit"class="btn btn-primary">CAMBIAR</button>
                                </div>
                            </div>
                        </div>
                        </form>
                        {{/each}}
                         {{#each averia_calidad}}
                        <form action="/averia/calidad/estatus/{{id}}" method="POST" id="test">
                        <div class="grid-container">
                            <div class="row">
                                <div id="item1">
                                    <label class="col-form-label">Parte:</label>
                                </div>
                                <div id="item2">
                                    <input type="text" value="{{id}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item3">
                                    <label class="col-form-label">Fecha:</label>
                                </div>
                                <div id="item4">
                                    <input type="text" value="{{creation_date}}" readonly
                                        class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item5">
                                    <label class="col-form-label">operario:</label>
                                </div>
                                <div id="item6">
                                    <input type="text" value="{{num_ope}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="row">
                                <div id="item7">
                                    <label class="col-form-label">Mantto:</label>
                                </div>
                                <div id="item8">
                                    <input type="text" value="{{op_mantto}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                        </div>
                        <div class="grid-container">
                            <div class="top-item row">
                                <div id="item8">
                                    <label class="col-form-label">Hora Llamada:</label>
                                </div>
                                <div id="item9">
                                    <input type="text" value="{{start_time}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item10">
                                    <label class="col-form-label">Puesto:</label>
                                </div>
                                <div id="item11">
                                    <input type="text" value="{{num_machine}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item12">
                                    <label class="col-form-label">Hora cierre:</label>
                                </div>
                                <div id="item13">
                                    <input type="text" value="{{end_time}}" readonly class="form-control-plaintext">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Observaciones:</label>
                            <textarea readonly class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                        </div>
                        <div class="grid-container">
                            <div class="top-item row">
                                <div id="item14">
                                    <label class="col-form-label">V.º B.º Mantto</label>
                                </div>
                                <div id="item15">
                                    <input id="vbcalidad" type="text" class="form-control-plaintext" value="{{estatus_mantto}}">
                                </div>
                            </div>
                            <div class="top-item row">
                                <div id="item16">
                                    <label class="col-form-label">V.º B.º Operador</label>
                                </div>
                                <div id="item17">
                                    <input id="vbcalidad" type="text" class="form-control-plaintext" value="{{estatus_corte}}">
                                </div>
                            </div>
                            <div class="top-item row">
                         <select name="estatus"  id="Select1" >
                            <option value="1">Cambiar estado</option>
                            <option value="aprobado">Aprobar</option>
                            <option value="rechazado">Pedir aclaracion</option>
                        </select>
                            </div>
                            <div class="top-item row">
                                <div id="item18">
                                    <button type="submit"class="btn btn-primary">CAMBIAR</button>
                                </div>
                            </div>
                        </div>
                        </form>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>